![png](books-ERD.png)

In [13]:
from sqlalchemy import create_engine

username = 'root'
password = '6236265.Scz'

db_name = 'books' 
connection = f'mysql+pymysql://{username}:{password}@localhost/{db_name}'
engine = create_engine(connection)
conn = engine.connect()

In [14]:
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));

SyntaxError: invalid syntax (3137837232.py, line 1)