In [1]:
import pandas as pd
import numpy as np

import os 
os.makedirs('Data/', exist_ok=True)

In [2]:
import sqlite3
conn = sqlite3.connect('movies.db')

In [3]:
tmdb= pd.read_csv('Data/tmdb.csv.gz')
tmdb.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.712,29620,PG-13
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.712,29620,PG-13
2,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115600000,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.886,10874,PG-13

In [4]:
tmdb

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.712,29620,PG-13
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.712,29620,PG-13
2,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115600000,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.886,10874,PG-13

In [5]:
df = pd.read_csv("Data/title.basics.tsv.gz", sep='\t', low_memory=False)
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10017006,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family"
10017007,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
10017008,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
10017009,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
10017010,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [6]:
filtered_df = df[(df['startYear'] == '2001') | (df['startYear'] == '2002')]
filtered_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
33802,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001,\N,20,Short
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
92620,tt0094718,short,Beavers,Beavers,0,2002,\N,31,"Documentary,Short"
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,\N,126,Drama
104785,tt0107194,short,Imagine,Imagine,0,2002,\N,22,"Documentary,Short"
...,...,...,...,...,...,...,...,...,...
10016118,tt9914870,tvEpisode,Episode #1.967,Episode #1.967,0,2001,\N,22,"Drama,Fantasy,Romance"
10016119,tt9914872,tvEpisode,Episode #1.968,Episode #1.968,0,2001,\N,22,"Drama,Fantasy,Romance"
10016122,tt9914878,tvEpisode,Episode #1.969,Episode #1.969,0,2001,\N,22,"Drama,Fantasy,Romance"
10016635,tt9916064,videoGame,AeroWings,Aero Dancing i,0,2001,\N,\N,\N
10016668,tt9916136,tvEpisode,Episode dated 7 February 2002,Episode dated 7 February 2002,0,2002,\N,\N,"News,Talk-Show"

In [7]:
keep_cols= ['imdb_id','budget','revenue','certification']
TMDB= tmdb[keep_cols]
TMDB

     imdb_id     budget     revenue certification
0  tt0848228  220000000  1518815515         PG-13
1  tt0848228  220000000  1518815515         PG-13
2  tt0332280   29000000   115600000         PG-13

In [8]:
TMDB['imdb_id']=TMDB['imdb_id'].astype(str)

/var/folders/fc/lxtc0_tj33b65krh167ynf300000gn/T/ipykernel_12333/789625827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TMDB['imdb_id']=TMDB['imdb_id'].astype(str)

In [9]:
## create a col with a list of genres
filtered_df['genres_split'] = filtered_df['genres'].str.split(',')
filtered_df

/var/folders/fc/lxtc0_tj33b65krh167ynf300000gn/T/ipykernel_12333/98254700.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['genres_split'] = filtered_df['genres'].str.split(',')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
33802,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001,\N,20,Short,[Short]
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
92620,tt0094718,short,Beavers,Beavers,0,2002,\N,31,"Documentary,Short","[Documentary, Short]"
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,\N,126,Drama,[Drama]
104785,tt0107194,short,Imagine,Imagine,0,2002,\N,22,"Documentary,Short","[Documentary, Short]"
...,...,...,...,...,...,...,...,...,...,...
10016118,tt9914870,tvEpisode,Episode #1.967,Episode #1.967,0,2001,\N,22,"Drama,Fantasy,Romance","[Drama, Fantasy, Romance]"
10016119,tt9914872,tvEpisode,Episode #1.968,Episode #1.968,0,2001,\N,22,"Drama,Fantasy,Romance","[Drama, Fantasy, Romance]"
10016122,tt9914878,tvEpisode,Episode #1.969,Episode #1.969,0,2001,\N,22,"Drama,Fantasy,Romance","[Drama, Fantasy, Romance]"
10016635,tt9916064,videoGame,AeroWings,Aero Dancing i,0,2001,\N,\N,\N,[\N]
10016668,tt9916136,tvEpisode,Episode dated 7 February 2002,Episode dated 7 February 2002,0,2002,\N,\N,"News,Talk-Show","[News, Talk-Show]"

In [10]:
exploded_genres = filtered_df.explode('genres_split').astype(str)
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
33802,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001,\N,20,Short,Short
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance",Comedy
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance",Fantasy
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance",Romance
92620,tt0094718,short,Beavers,Beavers,0,2002,\N,31,"Documentary,Short",Documentary
...,...,...,...,...,...,...,...,...,...,...
10016122,tt9914878,tvEpisode,Episode #1.969,Episode #1.969,0,2001,\N,22,"Drama,Fantasy,Romance",Fantasy
10016122,tt9914878,tvEpisode,Episode #1.969,Episode #1.969,0,2001,\N,22,"Drama,Fantasy,Romance",Romance
10016635,tt9916064,videoGame,AeroWings,Aero Dancing i,0,2001,\N,\N,\N,\N
10016668,tt9916136,tvEpisode,Episode dated 7 February 2002,Episode dated 7 February 2002,0,2002,\N,\N,"News,Talk-Show",News
10016668,tt9916136,tvEpisode,Episode dated 7 February 2002,Episode dated 7 February 2002,0,2002,\N,\N,"News,Talk-Show",Talk-Show

In [11]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [12]:
title_genres= exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

          tconst genres_split
33802  tt0034413        Short
34802  tt0035423       Comedy
34802  tt0035423      Fantasy
34802  tt0035423      Romance
92620  tt0094718  Documentary

In [13]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Documentary': 7,
 'Drama': 8,
 'Family': 9,
 'Fantasy': 10,
 'Game-Show': 11,
 'History': 12,
 'Horror': 13,
 'Music': 14,
 'Musical': 15,
 'Mystery': 16,
 'News': 17,
 'Reality-TV': 18,
 'Romance': 19,
 'Sci-Fi': 20,
 'Short': 21,
 'Sport': 22,
 'Talk-Show': 23,
 'Thriller': 24,
 'War': 25,
 'Western': 26,
 '\\N': 27}

In [14]:
def map_genres(genres_list):
    return [genre_map.get(genre, None) for genre in genres_list]

filtered_df['genre_id'] = filtered_df['genres_split'].apply(map_genres)
filtered_df = filtered_df.drop(columns='genres_split')

/var/folders/fc/lxtc0_tj33b65krh167ynf300000gn/T/ipykernel_12333/916552703.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['genre_id'] = filtered_df['genres_split'].apply(map_genres)

In [15]:
genre_lookup= pd.DataFrame({'Genre_Name': genre_map.keys(),
                            'Genre_ID': genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [16]:
#Creating MySQL tables with a primary key using Python

In [17]:
## get max string length
max_str_len= tmdb['certification'].fillna('').map(len).max()

In [25]:
from sqlalchemy.types import *

key_len = tmdb['imdb_id'].fillna('').map(len).max()
cert_len = tmdb['certification'].fillna('').map(len).max()

df_schema = {
    "imdb_id": CHAR(), 
    "budget": FLOAT(),
    "revenue": FLOAT(),
    "certification": VARCHAR(cert_len+1)}

In [20]:
TMDB.dtypes

imdb_id          object
budget            int64
revenue           int64
certification    object
dtype: object

In [26]:
TMDB.to_sql('tmdb_data',conn, dtype=df_schema, if_exists='replace',index=False)

ValueError: imdb_id (CHAR) not a string

In [ ]:
from sqlalchemy import create_engine

database_path = 'movies.db'

# Create an SQLite engine
engine = create_engine(f'sqlite:///{TMDB}', echo=True)

In [ ]:
with engine.connect() as connection:
    connection.execute('ALTER TABLE TMDB ADD PRIMARY KEY (`imdb_id`);')