In [1]:
import pandas as pd
import numpy as np

import os 
os.makedirs('Data/', exist_ok=True)

In [2]:
tmdb= pd.read_csv('Data/final_tmdb_data_2002.csv.gz')

In [3]:
tmdb.head()

   imdb_id
0        0

In [4]:
df = pd.read_csv("Data/title.basics.tsv.gz", sep='\t', low_memory=False)
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10017006,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family"
10017007,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
10017008,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
10017009,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
10017010,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [5]:
## create a col with a list of genres
df['genres_split'] = df['genres'].str.split(',')
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short","[Documentary, Short]"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short","[Animation, Short]"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance","[Animation, Comedy, Romance]"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short","[Animation, Short]"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short","[Comedy, Short]"
...,...,...,...,...,...,...,...,...,...,...
10017006,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family","[Action, Drama, Family]"
10017007,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family","[Action, Drama, Family]"
10017008,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family","[Action, Drama, Family]"
10017009,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short,[Short]
10017010,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy","[Adventure, Animation, Comedy]"

In [6]:
exploded_genres = df.explode('genres_split').astype(str)
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",Documentary
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",Short
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",Animation
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",Short
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",Animation
...,...,...,...,...,...,...,...,...,...,...
10017008,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family",Family
10017009,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short,Short
10017010,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy",Adventure
10017010,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy",Animation
10017010,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy",Comedy

In [7]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [8]:
title_genres= exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0000001  Documentary
0  tt0000001        Short
1  tt0000002    Animation
1  tt0000002        Short
2  tt0000003    Animation

In [9]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Documentary': 7,
 'Drama': 8,
 'Family': 9,
 'Fantasy': 10,
 'Film-Noir': 11,
 'Game-Show': 12,
 'History': 13,
 'Horror': 14,
 'Music': 15,
 'Musical': 16,
 'Mystery': 17,
 'News': 18,
 'Reality-TV': 19,
 'Romance': 20,
 'Sci-Fi': 21,
 'Short': 22,
 'Sport': 23,
 'Talk-Show': 24,
 'Thriller': 25,
 'War': 26,
 'Western': 27,
 '\\N': 28,
 'nan': 29}

In [10]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Documentary': 7,
 'Drama': 8,
 'Family': 9,
 'Fantasy': 10,
 'Film-Noir': 11,
 'Game-Show': 12,
 'History': 13,
 'Horror': 14,
 'Music': 15,
 'Musical': 16,
 'Mystery': 17,
 'News': 18,
 'Reality-TV': 19,
 'Romance': 20,
 'Sci-Fi': 21,
 'Short': 22,
 'Sport': 23,
 'Talk-Show': 24,
 'Thriller': 25,
 'War': 26,
 'Western': 27,
 '\\N': 28,
 'nan': 29}

In [11]:
df['genre_id'] = df['genres_split'].apply(lambda genres: [genre_map[genre] for genre in genres] if isinstance(genres, list) and all(pd.notna(genre) for genre in genres) else [])
df = df.drop(columns='genres_split')

In [12]:
genre_lookup= pd.DataFrame({'Genre_Name': genre_map.keys(),
                            'Genre_ID': genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [13]:
df = pd.read_csv("Data/title.basics.tsv.gz",sep='\t', low_memory=False)
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [14]:
#Creating MySQL tables with a primary key using Python

In [15]:
import sqlite3

conn = sqlite3.connect('movies')

In [20]:
df.set_index('genres').to_sql('genres',conn, index=True, if_exists= 'replace')

10017011

In [21]:
## get max string length
max_cert_len= tmdb['certification'].fillna('').map(len).max()

KeyError: 'certification'

In [ ]:
## Example
from sqlalchemy.types import *

key_len = tmdb['imdb_id'].fillna('').map(len).max()
cert_len = basics['certification'].fillna('').map(len).max()

df_schema = {
    "imdb_id": CHAR(key_len+1), 
    "budget": FLOAT(),
    "revenue": FLOAT(),
    'certification':CHAR(key_len+1)}

In [ ]:
tmdb.to_sql('tmdb_data',conn, dtype=df_schema, if_exists='replace',index=False)

In [ ]:
from sqlalchemy import create_engine

df = pd.read_csv('Data/title.basics.tsv.gz', sep='\t', compression='gzip', usecols=['tconst', 'genres'])
df['genres'] = df['genres'].str.split(',')

genres_df = pd.DataFrame({
    'genre_id': range(1, len(set(x for lst in df['genres'] for x in lst)) + 1),
    'genre_name': list(set(x for lst in df['genres'] for x in lst))})

title_genres_df = df.explode('genres')[['tconst', 'genres']]

genre_mapping_df = pd.merge(title_genres_df, genres_df, how='inner', left_on='genres', right_on='genre_name')
title_genres_df = genre_mapping_df[['tconst', 'genre_id']]

with engine.connect() as connection:
    genres_df.to_sql('genres', con=connection, if_exists='replace', index=False)

    title_genres_df.to_sql('title_genres', con=connection, if_exists='replace', index=False)